@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 79% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 32%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 255 92% 77%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 28%;
    --input: 217 33% 28%;
    --ring: 243 79% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 79% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 32%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 255 92% 77%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 28%;
    --input: 217 33% 28%;
    --ring: 243 79% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
